{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block body %}
    <h1>Ajouter une nouvelle saison</h1>

    {{ include('season/_form.html.twig') }}

    <a href="{{ path('program_index') }}">Back to list</a>
{% endblock %}
