{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block body %}
    <h1>Ajouter un nouveau programme</h1>

    {{ include('program/_form.html.twig') }}

    <a href="{{ path('program_index') }}">Back to list</a>
{% endblock %}
